:root {
	--accent1-lime-color: rgb(190, 247, 90);
	--accent2-lime-color: rgb(157, 204, 57);
	--accent3-lime-color: rgb(124, 171, 24);
	
	--accent1-red-color: rgb(247, 90, 90);
	--accent2-red-color: rgb(227, 70, 70);
	
	--accent1-lime-color-rgb: 190, 247, 90;
	--accent2-lime-color-rgb: 124, 171, 24;
	
	--main1-color: rgb(37, 37, 37);
	--main2-color: rgb(32, 32, 32);
	--main3-color: rgb(27, 27, 27);
	--main4-color: rgb(22, 22, 22);
	
	--main1-color-rgb: 47, 47, 47;
	--main2-color-rgb: 22, 22, 22;
	
	
	--closebtn-color: 240, 71, 71;
	--spoiler-covered: rgba(27, 27, 27, 1);
	--spoiler-hovered: rgba(22, 22, 22, 1);
	--spoiler-uncovered: rgba(47, 47, 47, 1);
	
}

.sidebar-2K8pFh {
	background-color: var(--main2-color);
}


.theme-dark .option-96V44q:after,
.scroller-1JbKMe {
	background: none;
}

.container-PNkimc, 
.channelTextArea-rNsIhG, 
.scrollableContainer-2NUZem,
.childWrapper-anI2G9,
.wrapper-2qzCYF.minimum-28Z35l {
	background-color: var(--main2-color);
}

 
.wrapper-2aW0bm {
	background-color: var(--main3-color)
}

.theme-dark .container-3ayLPN {
	background-color: var(--main4-color)
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
	background-color: var(--accent2-lime-color);
}


	/* Windows Bar*/
	
	#app-mount .typeWindows-1za-n7 {
		background-color: var(--main4-color); 
		border-bottom: none;
		margin-top: 0;
		height: 22px
	}
	
	#app-mount .wordmarkWindows-1v0lYD {
		padding-top: 3px;
	}
	
	
	.winButtonClose-1HsbF- {
		background-color: transparent;
		transition: background-color 100ms ease-in-out;
		padding-top: 4px;
		height: 22px;
	}
	.winButtonClose-1HsbF-:hover {
		background-color: rgba(var(--closebtn-color), .5);
	}
	
	.winButtonMinMax-PBQ2gm {
		background-color: transparent;
		transition: background-color 0.1s ease-in-out;
		padding-top: 4px;
		height: 22px;
	}
	
	.winButtonMinMax-PBQ2gm:hover {
		background-color: rgba(var(--accent1-lime-color-rgb), .5);
	}

	/* Loading screen */
	
	.container-16j22k {
		background-color: var(--main1-color);
	}

	/* Scrollbars */
	
	#app-mount ::-webkit-scrollbar-thumb { 
		background-color: var(--accent3-lime-color); 
		border-color: transparent;
	}

	#app-mount .scrollerWrap-2lJEkd ::-webkit-scrollbar-track-piece,
	#app-mount .messagesWrapper-3lZDfY ::-webkit-scrollbar-track-piece, 
	#app-mount .friendsTable-133bsv ::-webkit-scrollbar-track-piece, 
	#app-mount .gameLibrary-TTDw4Y ::-webkit-scrollbar-track-piece, 
	#app-mount .pageWrapper-1PgVDX ::-webkit-scrollbar-track-piece {
		background-color: transparent; 
		border-color: transparent;
	}
	
	#app-mount .messagesWrapper-3lZDfY ::-webkit-scrollbar-track, 
	#app-mount .friendsTable-133bsv ::-webkit-scrollbar-track, 
	#app-mount .gameLibrary-TTDw4Y ::-webkit-scrollbar-track,
	#app-mount .pageWrapper-1PgVDX ::-webkit-scrollbar-track {
		background-color: transparent; 
		border: none;
	}
	
	/* Mentions */
	
	.mention {
		background-color: rgba(var(--accent1-lime-color-rgb), .2); 
		color: #fff;
		transition: background-color 100ms ease-in-out;
	}

	.mention:hover {
		background-color: rgba(var(--accent1-lime-color-rgb), .3);
	}

	.mention:active {
		background-color: rgba(var(--accent1-lime-color-rgb), .4);
	}

	
	
	/* Unread Messages & message dividers */
	
	.isUnread-3Ef-o9 {
		border-color: var(--accent2-lime-color);
	}

	.isUnread-3Ef-o9 .content-1o0f9g {
		color: #fff;
	}

	.unreadPillCapStroke-7rkHbg {
		color: var(--accent2-lime-color);
		fill: var(--accent2-lime-color);
	}
	
	.newMessagesBar-mujexs,
	.unreadPill-2HyYtt,
	.content-1o0f9g {
		background-color: var(--accent2-lime-color);
		background: var(--accent2-lime-color);
		color: #eee;
	}

	.divider-JfaTT5 {
		border-top-color: var(--accent1-lime-color);
	}

	/* Serverlist */
	
		.platform-win .scroller-2TZvBN {
			background-color: var(--main4-color);
		}
		
		/* Streaming icon */
			.iconBadge-2wi9r4 {
				background-color: var(--accent2-lime-color);
			}
			
	/* Discovery Tab */
	
	.sidebar-2K8pFh {
		background-color: var(--main2-color);
	}
	
	.categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG {
		background-color: var(--accent3-lime-color);
	}
	
	.theme-dark .pageWrapper-1PgVDX {
		background-color: var(--main1-color);
	}
	
	.theme-dark .card-3DjzTQ {
		background-color: var(--main2-color);
	}
	
	.theme-dark .card-3DjzTQ:hover {
		background-color: var(--main3-color);
		box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
	}
	
	.theme-dark .iconMask-3b8GzQ {
		background-color: transparent!important;
	}

	/* Channels, user list & left side of settings */
	
	.privateChannels-1nO12o,
	.sidebarRegionScroller-3MXcoP {
		background-color: var(--main2-color);
	}
	
	.wrapper-CU3qI5 {
		background-color: rgba(var(--accent2-lime-color-rgb), .9);
		color: #ddd;
		margin-left: 8px;
		margin-bottom: 4px;
		border-radius: 10px;
		transition: background-color .15s ease;
	}
	.wrapper-CU3qI5:hover {
		color: #fff;
		background-color: rgba(var(--accent2-lime-color-rgb), 1);
	}
	.wrapper-CU3qI5 .container-2ax-kl {
		color: #eee;
		transition: color .15s ease;
	}
	.wrapper-CU3qI5:hover .container-2ax-kl {
		color: #fff;
	}
	
	.clickable-1JJAn8:hover .layout-2DM8Md {
		background-color: var(--main1-color);
	}
	
	.selected-aXhQR6 .layout-2DM8Md {
		background-color: rgba(var(--main1-color-rgb), .5);
	}
	
	.container-2ax-kl {
		text-align: center;
	}
	

		
		/* Switches in settings */
		
		.themeDefault-24hCdX.valueChecked-m-4IJZ {
			background-color: var(--accent3-lime-color);
		}
		
		.themeDefault-24hCdX {
			background-color: rgba(var(--main1-color-rgb), 1);
		}
		
		/* Bot Tag */
		
		.botTagRegular-2HEhHi {
			background: var(--accent3-lime-color);
		}
		
		/* Panels */
		.panels-j1Uci_ {
			background-color: var(--main3-color);
		}
		
		.button-14-BFJ.enabled-2cQ-u7 {
			color: var(--accent3-lime-color);
			transition: color 100ms ease-in-out;
		}
		
		.button-14-BFJ.enabled-2cQ-u7:hover {
			color: white;
		}
		.button-14-BFJ.enabled-2cQ-u7:active {
			color: white;
		}
		
		.button-14-BFJ.enabled-2cQ-u7:hover {
			background-color: rgba(var(--accent1-lime-color-rgb), .15);
			transition: background-color 100ms ease-in-out;
		}
	
		.button-14-BFJ.enabled-2cQ-u7:active {
			background-color: rgba(var(--accent1-lime-color-rgb), .25);
		}
	
	/* Topbar */
	
		.container-1r6BKw.themed-ANHk51 {
			background: var(--main2-color);
		}
		
		.theme-dark .children-19S4PO:after {
			background: none;
		}
		
	/* Members wrapper */
	
		.members-1998pB {
			background-color: var(--main2-color);
		}
		
	/* Chat */
	
		.chat-3bRxxu,
		.messages-3amgkR {
			background-color: var(--main1-color);
		}
		
		.theme-dark .form-2fGMdU:before {
			background: none;
		}
	
		/* Text area */
			.scrollableContainer-2NUZem {
				background-color: var(--main2-color);
			}
	
	/* Search WIP */
	
		/* Box */
		
			.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
				background: var(--main1-color);
			}
	
		/* Wrapper */
		
			.searchHeader-1EzJGH {
				background-color: var(--main2-color);
			}
			
			.searchResultsWrap-3-pOjs {
				background-color: var(--main2-color);
			}
			
			.searchResultMessage-30QnSN.hit-1CXhXT {
				background-color: var(--main3-color);
				border-color: var(--main3-color);
				box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
			}
			
			.searchResult-2N9RV4:before {
				background-image: linear-gradient(0deg,transparent,var(--main2-color));
			}
			
			.searchResult-2N9RV4:after {
				background-image: linear-gradient(180deg,transparent,var(--main2-color));
			}
			
			.channelName-wvgELL {
				background: transparent;
			}
	
	/* Profile card in settings */
	
	.cardPrimary-1Hv-to, .cardPrimaryEditable-3KtE4g {
		background-color: var(--main2-color);
		border-bottom-color: var(--main2-color);
	}
	
	/* Searchbars */
	
	.searchBar-3dMhjb,
	.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
	.container-cMG81i,
	.container-2XeR5Z {
		background-color: var(--main3-color);
	}


	/* Icons */

	.selected-1GqIat .icon-22AiRD {
		color: var(--accent3-lime-color);
	}
	
	.clickable-3rdHwn .icon-22AiRD,
	.icon-22AiRD {
		color: var(--accent1-lime-color);
		transition: color 100ms ease-in-out;
	}
	
	.clickable-3rdHwn:hover .icon-22AiRD {
		color: var(--accent2-lime-color);
	}
	
	.clickable-3rdHwn[aria-label="Rozpocznij rozmowę wideo"] .icon-22AiRD {
		color: var(--accent1-red-color);
		transition: color 100ms ease-in-out;
	}
	
	.clickable-3rdHwn[aria-label="Rozpocznij rozmowę wideo"]:hover .icon-22AiRD {
		color: var(--accent2-red-color);
	}
	
	/* Embeds */
	.embedFull-2tM8-- {
		background-color: var(--main2-color);
	}

	/* Popups */
	
		/* backdrop */
		.backdrop-1wrmKB, .backdropWithLayer-3_uhz4 {
			opacity: .7!important;
		}
	
		/* No mic */
		
			.theme-dark .modal-yWgWj- {
				background-color: var(--main1-color);
			}
			.theme-dark .footer-3rDWdC {
				background-color: var(--main2-color);
				box-shadow: inset 0 1px 0 var(--main3-color);
			}
		
		/* Upload file */
		
			.theme-dark .uploadModal-2ifh8j {
				background-color: var(--main1-color);
			}
			
			.theme-dark .footer-3mqk7D {
				background-color: var(--main3-color);
				box-shadow: inset 0 1px 0 var(--main3-color);
			}
		
		/* Emoji & GIF picker */
		
			.contentWrapper-SvZHNd {
				background-color: var(--main2-color);
				box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
			}
			
			.wrapper-1-Fsb8 {
				background-color: var(--main3-color);
				border-radius: 6px;
				margin-bottom: 8px;
				padding-left: 8px;
			}
			
			.wrapper-2Gsate {
				background-color: var(--main2-color);
			}
			
			.inspector-sdLnLS {
				background-color: var(--main3-color);
				border-radius: 8px 0 0 0;
			}
			.categoryItemDefaultCategorySelected-_HCKoz {
				background-color: var(--main1-color);
				transition: background-color 100ms ease-in-out;
			}
			
			.emojiItem-14v6tW.emojiItemSelected-1aLkfV, 
			.categoryItemDefaultCategorySelected-_HCKoz:hover,
			.diversitySelectorPopout-3FiGaM	{
				background-color: rgb(var(--main1-color-rgb));
				border-radius: 4px;
			}
			
			.guildIcon-3h-1IH {
				background-color: transparent;
			}
			
			.theme-dark .categoryFadeBlurple-1j72_A {
				background-color: rgba(var(--accent2-lime-color-rgb), .5);
			}
			
			.theme-dark .categoryFadeBlurple-1j72_A:hover {
				background-color: rgba(var(--accent2-lime-color-rgb), .85);
			}
			
			.theme-dark .result-3w1ZcL:hover:after {
				box-shadow: inset 0 0 0 2px var(--accent3-lime-color), inset 0 0 0 3px #2f3136;
			}
			
			.result-3w1ZcL,
			.theme-dark .emptyHintCard-2mUdMe {
				background-color: var(--main1-color)!important;
			}
			
			.navButtonActive-1MkytQ {
				background-color: var(--main3-color);
			}
			
			.categoryIcon-1SvUHG,
			.unicodeShortcut-15J8Ck,
			.categoryItemDefaultCategorySelected-_HCKoz .categoryIcon-1SvUHG, .categoryItemDefaultCategorySelected-_HCKoz:hover .categoryIcon-1SvUHG {
				color: var(--accent2-lime-color);
				transition: color 100ms ease-in-out;
			}
			
			/* qUick emoji picker */
				
				.emojiPickerListWrapper-fz8KNK .scroller-2FKFPG {
					background-color: var(--main2-color);
				}
				
				.emojiPicker-3PwZFl {
					background-color: var(--main2-color);
				}
			
			
		/* Nitro gift */
		
			.theme-dark .root-1gCeng {
				background-color: var(--main2-color);
			}
			
			.input-cIJ7To, .input-cIJ7To:hover {
				border-color: var(--main4-color);
			}
			
			.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
				border-color: var(--accent3-lime-color);
			}
		
		/* Pinned messages */
		
				.header-ykumBX {
					background-color: var(--main3-color);
				}
				
				.messagesPopoutWrap-1MQ1bW {
					background-color: var(--main1-color);
				}
				
				.messageGroupWrapper-o-Zw7G {
					background-color: var(--main1-color);
					border-color: var(--main2-color);
					box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
				}
				
				.footer-1kmXd4 {
					background-color: var(--main2-color);
				}
				
				.header-ykumBX .base-1x0h_U {
					text-align: center;
				}
			
			/* Last mentions */
			
			.recentMentionsPopout-3rCiI6 .header-ykumBX {
				background-color: var(--main2-color);
				box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
			}
			
			.recentMentionsPopout-3rCiI6 {
				box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
			}
			
			.recentMentionsPopout-3rCiI6 .messagesPopoutWrap-1MQ1bW {
				background-color: var(--main2-color);
			}
			
			.channelHeader-3Gd2xq {
				background-color: var(--main2-color);
				margin-top: 12px;
				padding-right: 12px;
				border-radius: 8px;
				box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
			}
			
			.messageContainer-gbhlwo {
				background-color: var(--main1-color);
			}
			
			.theme-dark .header-2-Imhb .tabBar-1kuXvJ .tab-ck0077.active-1MbGPa {
				background-color: var(--main3-color);
			}
			
			.secondary-dIudih,
			.tertiary-aMXF0g {
				background-color: var(--main3-color);
				transition: background-color 0.1s ease-in-out;
			}	
			
			.secondary-dIudih:hover,
			.tertiary-aMXF0g:hover {
				background-color: var(--main4-color);
			}
			
			.recentMentionsPopout-3rCiI6 .base-1x0h_U,
			.colorHeaderSecondary-3Sp3Ft {
				text-align: left;
			}
		
		/* Everyone popup */
		
			.theme-dark .everyonePopout-nEbJY3 {
				background-color: var(--main2-color);
			}
			
			.theme-dark .everyonePopout-nEbJY3 .footer-2aTx0s {
				background-color: var(--main3-color);
			}
		
	/* Settings */
		
		/* Left wrapper */
		
		/* Right wrapper */
		
			.contentRegionScroller-26nc1e {
				background-color: var(--main1-color);
			}
		
		/* uhh idk how to name it but dark to light thewme vchanger */
		
			.item-26Dhrx[style="border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218); padding: 10px;"],
			.item-26Dhrx[style="padding: 10px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"] {
				background-color: var(--main3-color)!important;
				border-color: var(--main3-color)!important;
				box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
			}
		
		/* That shit on which you click to change tabs */
		
			.theme-dark #bd-settings-sidebar .ui-tab-bar-item:hover,
			.bd-settings-sidebar .themed-OHr7kt.item-PXvHYJ:hover {
				background-color: rgba(var(--main1-color-rgb), .75);
				transition: background-color 100ms ease-in-out;
			}
			
			.theme-dark #bd-settings-sidebar .ui-tab-bar-item:active 
			.themed-OHr7kt.item-PXvHYJ:active, 
			.side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover,
			.topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
				background-color: rgba(var(--main1-color-rgb), 1));
			}
		
			/* Nitro */
		
				.card-3AyPWq {
					background: var(--main3-color);
					transition: background 150ms ease-in-out;
				}	
				
				.card-3AyPWq:hover {
					background: var(--main2-color);
				}
				
				.theme-dark .gemIndicatorContainer-2jdECl {
					background-color: var(--main4-color);
				}
				
				.noIcon-1a_FrS {
					background: var(--main2-color);
					transition: background 150ms ease-in-out;
				}
				
				.card-3AyPWq:hover .noIcon-1a_FrS {
					background: var(--main1-color);
				}
			
			/* That shit to change tabs (Now working) */
			
				.item-PXvHYJ[style="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
					background-color: var(--accent3-lime-color)!important;
					transition: background-color 150ms ease-in-out;
				}
				
				.item-PXvHYJ[style="color: rgb(114, 137, 218);"] {
					color: rgba(var(--accent1-lime-color-rgb), 1)!important;
					transition: color 150ms ease-in-out;
				}			
				
				.item-PXvHYJ[style="color: rgb(114, 137, 218); background-color: rgba(114, 137, 218, 0.1);"] {
					background-color: rgba(var(--accent1-lime-color-rgb), .25)!important;
					color: rgba(var(--accent1-lime-color-rgb), 1)!important;
					transition: background-color 150ms ease-in-out;
				}
	
	/* Autocomplete */
	
		.theme-dark .autocomplete-1vrmpx {
			background-color: var(--main2-color);
			box-shadow: 0 0 0 1px var(--main2-color), var(--elevation-high);
		}
		
		.theme-dark .selectorSelected-1_M1WV {
			background-color: var(--main1-color);
		}
	
	/* Server invite */
	
		.wrapper-35wsBm {
			background-color: var(--main3-color);
			box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
		}
	
	/* Hover on user & channel lists */
	
		.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8:hover {
			background-color: var(--main1-color);
		}
	
	/* User popup (small) */
		
		.theme-dark .headerNormal-T_seeN {
			background-color: var(--main3-color);
		}
		
		.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
			background-color: var(--main2-color);
		}
		
		.note-3kmerW textarea {
			background-color: transparent;
			transition: background-color 0.1s ease-in-out;
		}

		.note-3kmerW textarea:focus, {
			background-color: var(--main3-color);
		}
		
		.theme-dark .quickMessage-1yeL4E {
			background-color: var(--main3-color);
			border: none;
			box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
		}
	
	/* User popup (:b:ig) */
	
		.topSectionNormal-2-vo2m {
			background-color: var(--main3-color);
		}
		
		.root-SR8cQa,
		.body-3ND3kc {
			background-color: var(--main2-color);
		}
		
		.topSectionPlaying-1J5E4n .base-1x0h_U {
			text-align: left!important;
		}
		
		.top-28JiJ- .themed-OHr7kt.item-PXvHYJ, .top-28JiJ- .themed-OHr7kt.item-PXvHYJ:active {
			padding: 0 8px;
		}
		
		.top-28JiJ- .themed-OHr7kt.item-PXvHYJ {
			margin-top: 8px;
			margin-bottom: 8px;
			border-radius: 16px;
		}
		
		.top-28JiJ- .selected-3s45Ha.themed-OHr7kt.item-PXvHYJ {
			border-top-color: var(--interactive-active);
		}

	/* Age confirmation */

		.theme-dark .footer-2gL1pp {
			background: var(--main3-color);
			box-shadow: none;
		}
	
	/* Friends Tab */
	
	.theme-dark .container-1D34oG {
		background-color: var(--main1-color);
	}
	
	.nowPlayingColumn-2sl4cE {
		background-color: var(--main2-color);
	}
	
	.wrapper-3D2qGf {
		background-color: var(--main3-color);
		box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
		transition: background-color 0.05s ease;
	}
	
	.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
		background-color: var(--main4-color);
	}
	
	.theme-dark .inset-3sAvek  {
		background-color: var(--main2-color);
	}
	
	.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover {
		background: var(--main2-color);
	}
	
	.actionButton-uPB8Fs {
		background-color: var(--main2-color);
	}
	
	.peopleListItem-2nzedh.active-rhSpJJ, .peopleListItem-2nzedh:hover .actionButton-uPB8Fs {
		background: var(--main3-color);
	}
	
	.actionButton-uPB8Fs:hover {
		background: var(--main4-color);
	}
	
	/* Library Tab */
	
	.scroller-1IIF0A,
	.scroller-2XE8rp {
		background-color: var(--main1-color);
	}
	
	.header-39GIC8 {
		background-color: var(--main3-color);
		margin-left: 14px;
		border-bottom-color: transparent;
		border-radius: 0 0 12px 12px;
	}
	
	.rowWrapperActive-2L7i9f.rowWrapper-2fB6P0 {
		background-color: var(--main2-color);
	}
	
	.table-1tDS6w {
		margin-left: 14px;
	}	
	
	.side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ {
		background-color: var(--main1-color);
	}
	
	/* Nitro Tab */
	
	.scroller-9moviB {
		background-color: var(--main1-color);
	}
	
	/* Buttons */
	
		/* Blurple Button */
		
		.lookFilled-1Gx00P.colorBrand-3pXr91 {
			background-color: var(--accent2-lime-color);
		}
		
		.lookFilled-1Gx00P.colorBrand-3pXr91:disabled {
			background-color: var(--accent2-lime-color);
		}
		
		.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
			background-color: var(--accent3-lime-color);
		}
		
		.lookFilled-1Gx00P.colorBrand-3pXr91:active {
			background-color: var(--accent3-lime-color);
		}
		
		.lookOutlined-3sRXeN.colorBrand-3pXr91 {
			color: var(--accent2-lime-color);
			border-color: var(--accent1-lime-color);
		}
		
		.lookOutlined-3sRXeN.colorBrand-3pXr91:hover,.lookOutlined-3sRXeN.colorBrand-3pXr91:active {
			border-color: var(--accent3-lime-color);
		}
		
		.theme-dark .questionMark-CWEQZn {
			background-color: var(--accent2-lime-color);
		transition: background-color 100ms ease-in-out;
		}
		
		.theme-dark .questionMark-CWEQZn:hover {
			background-color: var(--accent3-lime-color);
		}
		
		/* Gray Button */
		
		.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
			background-color: var(--main3-color);
		}
		
		.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover,
		.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active {
			background-color: var(--main2-color);
		}
		
		/* Green Button */
	
		/* Uvavavivile Button */
		.button-1YfofB.buttonColor-7qQbGO.fauxDisabled-2ik0Vw, .button-1YfofB.buttonColor-7qQbGO:disabled {
			background-color: var(--accent3-lime-color);
		}
	
		/* Bottom serverlist buttons */
		.circleIconButton-jET_ig {
			color: var(--accent2-lime-color);
		}
		
		.circleIconButton-jET_ig.selected-ugP_am {
			background-color: var(--accent2-lime-color);
		}
	
	
	/* Spoilers */
	
	.wrapper-2a6GCs .spoilerText-3p6IlD.hidden-HHr2R9 {background-color: var(--spoiler-covered);}
	.wrapper-2a6GCs .spoilerText-3p6IlD.hidden-HHr2R9:hover {background-color: var(--spoiler-hovered);}
	.wrapper-2a6GCs .spoilerText-3p6IlD, .theme-dark .spoilerText-3p6IlD {background-color: var(--spoiler-uncovered);}
	
	/* ChEcKbOxEs */
	
	.theme-dark .checkbox-1ix_J3 {
		border-color: rgb(var(--main1-color-rgb));
	}
	
	.theme-dark .checked-3_4uQ9 {
		border-color: var(--accent3-lime-color)!important;
		background-color: var(--accent1-lime-color);
	}
	
	.checked-3_4uQ9 polyline {
		stroke: var(--accent3-lime-color);
	}
	
	/* Context Menu */
	
	.styleFlexible-wGDiIL,
	.styleFixed-sX-yHV,
	.contextMenu-HLZMGh,
	.submenu-2-ysNh {
		background-color: var(--main4-color);
		box-shadow: 0 0 1px 1px var(--main4-color), var(--elevation-high);
	}
	
	
	.button-F9qN4n {
		background-color: var(--main2-color);
		transition: background-color 100ms ease-in-out;
	}
	
	.button-F9qN4n:hover {
		background-color: var(--main1-color);
	}
	
	.colorDefault-2K3EoJ.focused-3afm-j {
		background-color: var(--accent2-lime-color);
	}
	
	.colorDefault-2K3EoJ.focused-3afm-j:active,
	.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
		background-color: var(--accent3-lime-color);
	}
	
	
	
	
	
	
	
	/* Media */
		
		/* Video */
		
		.theme-dark .wrapper-2TxpI8 {
			background-color: var(--main2-color);
		}
		
		.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before {
			background-color: var(--accent2-lime-color);
		}
		
		.mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
			background-color: var(--accent3-lime-color);
		}
		
		.controlIcon-3cRbti,
		.metadataIcon-2FyCKU {
			color: var(--accent2-lime-color);
		}
		
		/* Image uploading */
		
		.attachment-33OFj0 {
			background-color: var(--main3-color);
			border-color: var(--main3-color);
			box-shadow: 0 0 1px 1px var(--main3-color), var(--elevation-high);
		}
		
		.progressBar-3u8FBM.small-1CUeBa.animating-3Qqqzp {
			background-color: var(--accent3-lime-color)!important;
		}
			
	

	
	/* BD's $hit */
	
		/* Toasts */
		
		.toasts .toast.toast-success {
			background-color: var(--accent3-lime-color);
		}
		
		.toasts .toast {
			background-color: var(--main3-color)!important;
			border-color: var(--main4-color);
		}
		
		.toasts .toast.toast-success{background-color:var(--accent3-lime-color)}.toasts .toast{background-color:var(--main3-color)!important;border-color:var(--main4-color)}
		

		/* Plugins & Theme Menu */
		
		.theme-dark .bd-addon-list .bd-addon-card {
			background-color: var(--main3-color);
			border-color: transparent;
			box-shadow: 0 0 0 1px var(--main3-color), var(--elevation-high);
		}
		
		/* Searchboxes */
		
		.bd-search-wrapper {
			background-color: var(--main3-color);
		}
		
		/* Custom CSS */
		
		.ace-monokai .ace_gutter,
		#bd-customcss-attach-controls .help-text .inline {
			background-color: var(--main2-color);
		}
		
		.standardSidebarView-3F1I7i #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button {
			background-color: var(--main2-color);
			border-left-color: var(--main3-color)!important;
			transition: background-color 150ms ease-in-out;
		}
		
		.standardSidebarView-3F1I7i #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover {
			background-color: var(--accent2-lime-color);
		}
		
		#bd-customcss-detach-container #bd-customcss-attach-controls, 
		.ace-monokai {
			background: var(--main3-color);
		}
		
		.contentRegion-3nDuYy #bd-customcss-attach-controls {
			background: var(--main4-color);
		}
		
		.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
			border-color: var(--accent3-lime-color)!important;
			background-color: var(--accent1-lime-color);
		}
			
		.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span:after {
			border-color: var(--accent3-lime-color);
		}
		
		.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
			box-shadow: 0 1px 0 0 var(--main4-color) inset;
		}
		
		/* $hitty blue */
		
		.bd-switch {
			background-color: rgba(var(--main1-color-rgb), 1);
		}
		
		.theme-dark #bd-settings-sidebar .ui-tab-bar-item.selected,
		.bd-switch-checked {
			background-color: var(--accent3-lime-color);
		}
		
		.bd-pfbtn, 
		.bd-addon-list .bd-card-footer button {
			background-color: var(--accent2-lime-color);
		transition: background-color 100ms ease-in-out;
		}
		
		.bd-pfbtn:hover,
		.bd-addon-list .bd-card-footer button:hover {
			background-color: var(--accent3-lime-color);
		}
		
		.bd-pfbtn:active,
		.bd-addon-list .bd-card-footer button:active {
			background-color: var(--accent3-lime-color);
		}
		
		.bd-addon-list a {
			color: var(--accent3-lime-color);
		}
		

	/* Other $hit */
	
		body ::selection {
			background-color: rgba(var(--accent1-lime-color-rgb), .3);
		}

		img.emoji[src="/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg"] {
			content: url('https://i.fratikbot.pl/iTTC6oD.svg');;
		}
		
		img.emoji[src="/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg"]:hover:active {
			content: '';
		}	

		/* Reactions */
		
		.reaction-1hd86g.reactionMe-wv5HKu {
			background-color: rgba(var(--accent1-lime-color-rgb), .15);
		}
		
		.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
			color: var(--accent3-lime-color);
		}

		/* LoAdInG GiF */
		
		.wanderingCubesItem-WPXqao {
			background-color: var(--accent3-lime-color);
		}